requests
python-logstash-async==2.7.2
faker
PyYAML
colorama
pydantic
fastapi
uvicorn[standard]
python-multipart
cairosvg
schedule
PyQt6; sys_platform == 'darwin'
PyQt6-WebEngine; sys_platform == 'darwin'
