requests
python-logstash-async==2.7.2
faker
PyYAML
colorama
pydantic
fastapi
uvicorn[standard]
python-multipart
cairosvg
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-WebKit
# The gluesync_sdk dependency is installed directly in the Dockerfile
